//Colors
$default: #F28E1C;
$cta: #F21C1C;
$bar: #FFCC4D;
$footer: #300808;
$nonalcohol: #FFCC4D;
$lightbeer: #F0A500;
$beer: #DD8600;
$heavybeer: #660F10;
$cartcount: #FF0000;
$mysterborder: #E6FF00;
$starter: #00FF33;
$verkenner: #D47800;
$fijnproef: #8009BB;
$mysterybox: url('../img/mystery.jpg');
$lines: #757575;

//Styling
body{

}